body {
    background-color: rgb(32, 32, 32);
    color:rgb(188, 192, 182);
    font-family: Courier;
    width: 88%;
    margin: auto;
}
.profile-pic{
    float: left;
    margin: 15px;
    border-radius: 20%;
}
.pic-box {
    background-color: rgb(45, 42, 40);
    height: 205px;
}
.pic-description {
    padding-top: 50px;
    /*position: relative;
    top: 50px;
    left: 10px;*/
}
.ul-bigger {
    font-size: 17.5px;
}
.mid-pic {
    float: left;
    border-radius: 20%;
    margin-right: 20px;
}
.mid-pic-description {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 40px;
}
.col-right{
    float: right;
    width: 60%;
    padding-top: 95px;
    padding-right: 35px;
    padding-left: 5px;
}
.my-name {
    font-family: Verdana;
    font-size: 14px;
}
h1 {
    color: rgb(138, 181, 230)
}
p {
    color: rgb(188, 192, 182)
}
a {
    color: rgb(120, 151, 250)
}
.list {
    font-weight: 600;
}