@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,700&display=swap');
body {
    background-color: rgb(32, 32, 32);
    color:rgb(240, 255, 255);
    font-family: Exo;
    margin: 0px 0px;
}
p {
    color: rgb(188, 192, 182);
}
a {
    color: rgb(120, 151, 250);
}
div.head-box {
    border-top: 22px;
    border-color: rgb(45, 42, 40);
    border-top-style: solid;
    background-color: rgb(201, 201, 201);
    height: 220px;
    padding: 1px;
}
.head-content{
    margin: 25px 15px;
    text-align: left;
}
.profile-pic{
    position: relative;
    margin: 0px 0px 0px 5px;
    border-radius: 50%;
    float: left;
}
div.git-name {
    font-family: Cabin;
    font-size: 40px;
    letter-spacing: -1.3px;
    height: 80%;
    color: rgb(48, 117, 200);
    margin: 0px;
    padding-top: 125px;
    width: 375px;
    height: 40px;
}
.pic-description {
    margin-top: 30px;
    margin-right: 60px;
    font-size: 17px;
}
nav {
    background-color: rgb(48, 117, 200);
    height: 45px;
}
ul.nav-bar {
    margin-top: 0px;
}
li.nav-item {
    display: inline-block;
    margin: 15px 8px;
}
a.nav-item {
    text-decoration: none;
    text-transform: uppercase;
    font-weight:590;
    color: rgb(255, 255, 255);
}
ul {
    font-family: courier;
}
ul.bigger {
    font-size: 17.5px;
}
.mid-pic {
    float: left;
    border-radius: 20%;
    margin-right: 20px;
}
.mid-pic-description {
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 40px;
}
.col-right{
    float: right;
    width: 60%;
    padding-top: 95px;
    padding-right: 35px;
    padding-left: 5px;
}
.list {
    font-weight: 600;
}