body {
    background-color: rgb(32, 32, 32);
    color:rgb(188, 192, 182);
    font-family: Courier;
    width: 88%;
    margin: auto;
}
.profile-pic{
    float: left;
    margin: 15px;    
}
.pic-box {
    background-color: rgb(15, 15, 15);
    height: 210px;
}
.pic-description {
    position: relative;
    top: 65px;
    left: 10px;
    
    /*position: absolute;
    top: 100px;*/
}
.my-name {
    background-color: rgb(10, 10, 0);
    font-family: Verdana;
    font-size: 14px;
}
h1 {
    color: rgb(138, 181, 230)
}
p {
    color: rgb(188, 192, 182)
}
a {
    color: rgb(120, 151, 250)
}
.list {
    font-weight: 600;
}